<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <title>{% block title %}{% endblock %} - URL Shortener</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='semantic/semantic.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

        <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='semantic/semantic.min.js') }}"></script>
    </head>
    <body>
        {% block header %}{% endblock %}
        {% for message in get_flashed_messages() %}
            <div class="ui message">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
        {% block footer %}{% endblock %}
    </body>
</html>
