{% extends 'base.html' %}

{% block header %}
    <div class="pusher">
        <div class="ui inverted vertical masthead center aligned segment">
            <div class="ui text container">
                <h1 class="ui inverted header">
                    URL Shortener
                </h1>
                <form action="{{ url_for('shortener.create') }}" method="post">
                    <div class="ui action left icon input huge">
                        <i class="globe icon"></i>
                        <input type="text" name="url" placeholder="Paste or type a URL..." />
                        <button class="ui primary huge button" type="submit">Shorten <i class="right arrow icon"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% if urls.count() %}
        <h2>Top URLs</h2>
        <ul>
        {% for url in urls %}
            <li><a href="{{ url_for('shortener.info', hash=url.hash) }}">{{ url.title }}</a></li>
        {%endfor %}
        </ul>
    {% endif %}
{% endblock %}
