{% extends 'base.html' %}

{% block title %}Create memorable URLs from long links{% endblock %}

{% block content %}
<div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">
        <div class="ui text container">
            <h1 class="ui inverted header">
                URL Shortener
            </h1>
            <form action="{{ url_for('shortener.create') }}" method="post">
                <div class="ui action left icon input huge">
                    <i class="globe icon"></i>
                    <input type="text" name="url" placeholder="Paste or type a URL..." />
                    <button class="ui primary huge button" type="submit">Shorten <i class="right arrow icon"></i></button>
                </div>
            </form>
        </div>
    </div>

    {% if urls.count() %}
    <div class="ui vertical stripe segment">
        <div class="ui text container">
            <h3 class="ui header">Most visited URLs</h3>
            <div class="ui three stackable cards">
                {% for url in urls %}
                <div class="ui card">
                    <div class="content">
                        <div class="header"><a href="{{ url_for('shortener.open_url', hash=url.hash) }}">{{ url.title }}</a></div>
                        <div class="meta">{{ url.created | relative }}</div>
                    </div>
                    <div class="extra content">
                        <i class="eye icon"></i>
                        {{ url.hits | number('decimal') }} views
                    </div>
                </div>
                <!--<li><a href="{{ url_for('shortener.info', hash=url.hash) }}">{{ url.title }}</a></li> -->
                {%endfor %}
            </div>
        </div>
    </div>
    {% endif %}

    <div class="ui vertical stripe quote segment">
        <div class="ui equal width stackable internally celled grid">
            <div class="center aligned row">
                <div class="column">
                    <h3>"What a Company"</h3>
                    <p>That is what they all say about us</p>
                </div>
                <div class="column">
                    <h3>"I shouldn't have gone with their competitor."</h3>
                    <p>
                        <img src="{{ url_for('static', filename='images/avatar/nan.jpg') }}" class="ui avatar image"> <b>Nan</b> Chief SEO Master at ACME, corp.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="ui vertical stripe segment">
        <div class="ui text container">
            <h3 class="ui header">Breaking The Grid, Grabs Your Attention</h3>
            <p>Instead of focusing on content creation and hard work, we have learned how to master the art of doing nothing by providing massive amounts of whitespace and generic content that can seem massive, monolithic and worth your attention.</p>
            <a class="ui large button">Read More</a>
            <h4 class="ui horizontal header divider">
                <a href="#">Case Studies</a>
            </h4>
            <h3 class="ui header">Did We Tell You About Our Short URLs?</h3>
            <p>Yes I know you probably disregarded the earlier boasts as non-sequitur filler content, but its really true. It took years of gene splicing and combinatory DNA research, but our URLs are really short.</p>
            <a class="ui large button">I'm Still Quite Interested</a>
        </div>
    </div>

    <div class="ui inverted vertical footer segment">
        <div class="ui container">
            <div class="ui stackable inverted divided equal height stackable grid">
                <div class="three wide column">
                    <h4 class="ui inverted header">About</h4>
                    <div class="ui inverted link list">
                        <a href="{{ url_for('info.about') }}" class="item">Resume</a>
                        <a href="#" class="item">Contact Us</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">Legal</h4>
                    <div class="ui inverted link list">
                        <a href="{{ url_for('legal.privacy') }}" class="item">Privacy Policy</a>
                        <a href="{{ url_for('legal.terms') }}" class="item">Terms of Service</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header">URL Shortener</h4>
                    <p>Create memorable URLs from long links.</p>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
