{% extends 'page.html' %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="ui main text container page">
    {{ super() }}
    <h1 class="ui header">
        <div class="sub header date">Created {{ url.created | datetime('full') }}</div>
        {% block title %}{{ url.title }}{% endblock %}
        <div class="sub header url"><a href="{{ url_for('shortener.open_url', hash=url.hash) }}">{{ url.url }}</a></div>
    </h1>
    <div class="ui grid url">
        <div class ten wide"><a class="ui button primary tiny compact" href="{{ url_for('shortener.open_url', hash=url.hash) }}">{{ url_for('shortener.open_url', hash=url.hash, _external=True) }}</a></div>
        <div class six wide">
            <button class="ui basic button tiny compact">copy</button>
        </div>
    </div>
    <div class="ui horizontal statistic">
        <div class="value">
            {{ url.hits | number('decimal') }}
        </div>
        <div class="label">
            Clicks
        </div>
    </div>
    <div class="ui horizontal statistic">
        <div class="value">
            {{ unique_clicks | number('decimal') }}
        </div>
        <div class="label">
            Users
        </div>
    </div>
</div>
{% endblock %}
